@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.02)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}


@layer base {
  :root {
    
    --background: 253 100% 99%;
    --foreground: 253 5% 5%;
    --card: 253 100% 99%;
    --card-foreground: 253 5% 5%;
    --popover: 253 100% 99%;
    --popover-foreground: 253 5% 5%;
    --primary: 253 47% 50%;
    --primary-foreground: 253 5% 5%;
    --secondary: 253 5% 96%;
    --secondary-foreground: 253 5% 5%;
    --muted: 253 5% 96%;
    --muted-foreground: 253 5% 40%;
    --accent: 253 47% 50%;
    --accent-foreground: 253 5% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 253 100% 99%;
    --border: 253 5% 90%;
    --input: 253 5% 90%;
    --ring: 253 47% 50%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 253 10% 4%;
    --foreground: 253 5% 96%;
    --card: 253 10% 6%;
    --card-foreground: 253 5% 96%;
    --popover: 253 10% 4%;
    --popover-foreground: 253 5% 96%;
    --primary: 253 47% 50%;
    --primary-foreground: 253 10% 4%;
    --secondary: 253 10% 8%;
    --secondary-foreground: 253 5% 96%;
    --muted: 253 10% 8%;
    --muted-foreground: 253 5% 65%;
    --accent: 253 47% 50%;
    --accent-foreground: 253 5% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 253 5% 96%;
    --border: 253 10% 8%;
    --input: 253 10% 8%;
    --ring: 253 47% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  pre {
    @apply !bg-transparent;
  }
  code {
    @apply text-primary-foreground/90;
  }
}

@layer utilities {
  .glass-card {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.02));
  }
}

.glass-card {
  background: rgba(30, 19, 45, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-bg {
  background: radial-gradient(circle at 50% 50%, 
    rgba(51, 31, 77, 0.15) 0%,
    rgba(30, 19, 45, 0.15) 25%,
    rgba(0, 0, 0, 0) 50%
  );
}

.hero-gradient {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 100%,
    rgba(30, 19, 45, 0.1) 50%,
    rgba(51, 31, 77, 0.2) 0%
  );
}

.oreh-gradient {
  background: linear-gradient(
    135deg,
    rgba(51, 31, 77, 0.158) 0%,
    rgba(30, 19, 45, 0) 50%,
    rgba(9, 8, 24, 0.062) 100%
  );
}

.gradient-oreh {
  background: linear-gradient(
    135deg,
    rgba(9, 8, 24, 0.062) 100%,
    rgba(30, 19, 45, 0) 50%,
    rgba(51, 31, 77, 0.158) 0%
  );
}